
.main-search-bar{
    width: 100%;
}

.editable-label-layout{
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.editable-label-layout:hover{
    background-color: rgba(0,0,128,0.1);
    border-radius: 5px;
}

.editable-label-name{
    font-size: 14px;
    font-weight: bold;
    line-height: 15px;
    flex-grow: 1;
    flex-basis: 0;
}

.editable-label-id{
    color: red;
    font-weight: bold;
}

.editable-label-type{
    color: blue;
    font-weight: bold;
}

.editable-label-icon{
    width: 30px;
    height: 30px;
    border: 2px solid blue;
    box-sizing: border-box;
}